@import url('https://fonts.googleapis.com/css2?family=Revalia&family=Roboto:wght@400;500;700&display=swap');

* {
    /* Устанавливаем эту опцию, чтобы изюежать путаницы с размерами блоков с падингами */
    box-sizing: border-box;
    /* Зануляем отступы для удобства, чтобы не указывать это в элементах "h1-h6", "p" */
    margin: 0;
}

body {
    /* Задаём основной шрифт, он будет отображаться на всех текстах, если не перебить его как сделано на логотипе */
    font-family: Roboto, sans-serif;
}

.container {
    /* Задаём максимальную ширину сайта */
    max-width: 1150px;
    /* Выравниваем по центру */
    margin: 0 auto;
}

/* header section begin */
.header {
    background: #EEEFF1;
}

.header__wrapper {
    /* отступы сверху и снизу */
    padding: 57px 0;
    /* Делаем clearfix, потому что если его убрать - поедет вёрстка из-за наших флотов на лого и навигации */
    overflow: hidden;
}

.header__logo {
    font-family: Revalia, sans-serif;
    font-size: 48px;
    color: #34547A;
    /* "Прибиваем" логл слева */
    float: left;
    /* Убираем нижнее подчёткивание ссылок */
    text-decoration: none;
    /* Делим картинке и блоку с текстовым контентом ширину контейнера */
    width: 50%;
}

.header__nav {
    /* "Прибиваем" навигацию справа */
    float: right;
}

.header__link {
    font-size: 16px;
    color: #000000;
    margin: 0 21px;
    font-weight: 500;
    /* Убираем подчёркивание ссылок */
    text-decoration: none;
    /* Добавляем анимацию при наведении курсора */
    transition: color .3s;
}

/* Добавляем эффект смены цвета при наведении на ссылки навигации */
.header__link:hover {
    color: #34547a;
    /* Добавляем анимацию при отведении курсора */
    transition: all .3s;
}

/* header section end */

/* design section begin */
.design {
    background: #EEEFF1;
}

.design__wrapper {
    /* Опять clearfix для флотов */
    overflow: hidden;
    padding: 140px 0;
}

.design__image {
    float: left;
    width: 50%;
}

.design__image img {
    /* Ограничивать изображение через width и height не нужно, оно будет само подстраиваться под вёрстку */
    /* Прибиваем картинку справа от нашего блока, который уже занимает 50% от ширины контейнера */
    float: right;
    margin-right: 130px;
}

.design__content {
    float: right;
    width: 50%;
}

.design__title {
    font-weight: 500;
    font-size: 48px;
    color: #000000;
}

.design__text {
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin-top: 60px;
}

.design__button {
    /* Добавляем тегу "а" блочное поведение, чтобы работал отступ margin */
    display: inline-block;
    background-color: #34547A;
    color: white;
    padding: 19px 41px;
    font-size: 16px;
    /* Убираем подчёркивание нашей ссылки */
    text-decoration: none;
    margin-top: 60px;
}

/* design section end */

/* about section begin */
.about {
    padding-top: 120px;
    padding-bottom: 100px;
}

.about__wrapper {
    /* Задаём максимальную ширину блока, чтобы не растягивать текст по всему контейнеру */
    max-width: 540px;
    /* И центрируем всё в этой секции */
    margin: 0 auto;
}

.about__title {
    font-weight: 500;
    font-size: 32px;
    text-align: center;
    color: #000000;
}

.about__text {
    margin-top: 50px;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #727272;
}
/* about section end */
